[Unit]
Description=Kibana custom service unit

[Service]
Type=simple
#EnvironmentFile=-/etc/default/kibana
ExecStart=/opt/kibana/bin/kibana  "-c /opt/kibana/config/kibana.yml" >> /var/log/kibana.log 2>&1
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
